$rct-icon-color: #33c !default;
$rct-label-hover: rgba($rct-icon-color, .1) !default;

.react-checkbox-tree {
  font-size: 16px;

  ol {
    padding-left: 24px;
    list-style-type: none;
  }

  label {
    margin-bottom: 0;
    cursor: pointer;

    &:hover {
      background: $rct-label-hover;
    }
  }

  .fa {
    width: 14px;
    margin: 0 5px;
  }

  .fa-folder-open-o,
  .fa-folder-o,
  .fa-file-o {
    color: $rct-icon-color;
  }
}

.rct-text {
  display: flex;
  align-items: center;
}

.rct-collapse {
  font-size: 12px;

  .fa-chevron-right,
  .fa-chevron-down {
    text-align: center;
    cursor: pointer;
  }

  > .fa-chevron-right {
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
}

.rct-half-checked {
  opacity: .5;
}
