{
	"extends": "airbnb",
	"parser": "babel-eslint",
	"rules": {
		"class-methods-use-this": 0,
		"indent": [2, "tab"],
		"jsx-a11y/label-has-for": 0,
		"jsx-a11y/no-static-element-interactions": 0,
		"no-tabs": 0,
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props" : [2, "tab"],
		"react/jsx-filename-extension": 0,
		"react/forbid-prop-types": 0
	},
	"env": {
		"browser": true,
		"mocha": true
	}
}
