{
  "extends": "takiyon-react",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      // "Fixes Node resolution issues in ESLint v6
      // https://github.com/benmosher/eslint-plugin-import/issues/1396
      "node": {},

      "webpack": {
        "config": "webpack.test.config.js"
      }
    }
  },
  "rules": {
    "react/destructuring-assignment": "off",
    "react/jsx-sort-props": "off"
  }
}
