{
  "extends": "takiyon-react",
  "env": {
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": ["error", {
      "allow": "as-needed"
    }]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.test.config.js"
      }
    }
  }
}
