// Cayman overrides
$body-text-color: #444;
$code-text-color: #465e6a;
$header-bg-color: #3498db;
$header-bg-color-secondary: #2c3e50;
$section-headings-color: #2079b5;
$blockquote-text-color: #576266;

// Checkbox tree overrides
$rct-color: #444;
$rct-border-color: #ccc;

// Misc.
$input-border-color: #ced4da;
$tree-font-family: "Roboto", sans-serif;

@import "../../../src/scss/react-checkbox-tree";
@import "cayman";

.main-content {
  h1,
  h2,
  h3 {
    font-weight: bold;
  }
}

.react-checkbox-tree {
  font-family: $tree-font-family;
  color: $rct-color;
}

.clickable-labels {
  display: flex;

  > * {
    width: 50%;
  }
}

.expand-all-container {
  max-width: 400px;
}

.rct-node-icon .far {
  width: 1em;
  text-align: center;
}

.filter-container > .filter-text {
  display: block;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid $input-border-color;
  border-radius: 0.25rem;
}
