@rct-icon-color: #33c;

.react-checkbox-tree {
  ol {
    padding-left: 24px;
    list-style-type: none;

    label {
      margin-bottom: 0;
      cursor: pointer;
    }

    .fa {
      width: 14px;
      margin: 0 5px;
    }

    .fa-folder-open-o,
    .fa-folder-o,
    .fa-file-o {
      color: @rct-icon-color;
    }
  }
}

.rct-text {
  display: flex;
  align-items: center;
}

.rct-collapse {
  font-size: 12px;

  .fa-chevron-right,
  .fa-chevron-down {
    text-align: center;
    cursor: pointer;
  }
}

.rct-half-checked,
.rct-collapse > .fa-chevron-right {
  opacity: .5;
}
