$header-bg-color: #3498db;
$header-bg-color-secondary: #2c3e50;
$section-headings-color: #3498db;
$rct-color: #444;
$rct-border-color: #ccc;

@import "../../src/scss/react-checkbox-tree";
@import "cayman";

.react-checkbox-tree {
  color: $rct-color;
  font-family: 'Roboto', sans-serif;
}
